:root{
    --color1: #46617b;
    --color2: #f38ab2;
    --color3: #0a2540;
    --color4: #a3b0bd;
    --color5: #7a8c9f;

    --space: 10rem;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    font-family: "Inter", sans-serif;
    line-height: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    line-height: 1.3;
    background-color: #fefefe;
}
.space_top{
    padding-top: var(--space);
}
.space_bottom{
    padding-bottom: var(--space);
}
.space{
    padding: var(--space) 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 7.1428571429rem;
    background: #f38ab2;
}
.btn-primary {
  background: var(--color2);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border: var(--color2) solid 1px;
  border-radius: 50px;
  padding: 8px 25px;
  transition: all .2s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-primary::before{
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color1);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50px;
    transition: all .2s ease;
    visibility: hidden;
    z-index: -1;
}

.btn-primary:hover {
  background-color: var(--color2);
  border: var(--color1) solid 1px;
}
.btn-primary:hover::before{
    transition: all .2s ease;
    width: 100%;
    height: 100%;
    visibility: visible;
    bottom: 0px;
}

.btn-primary i {
  position: relative;
  right: 0;
  transition: all .5s ease;
}

.btn-primary:hover i {
  right: -3px;
}
.container{
    max-width: 1050px;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}
/* Navbar */
.site_header{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 15px;
    z-index: 111;
}
.navbar-nav{
    border-radius: .8571428571rem;
    border: 2px solid #ffcaca;
    background: #fff;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    gap: .6428571429rem;
    padding: 0.9rem 1.5rem;
    overflow: hidden;
}
.navbar-expand-lg .btn{
    font-weight: 400!important;
    padding: 5px 13px!important;
    font-size: 1.3rem!important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color1);
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-expand-lg .container-fluid{
    padding-left: 3rem;
    padding-right: 3rem;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--color2);
}

.about {
    position: relative;
    padding: 18rem 0;
    background:linear-gradient(180deg,#faf5ff,#fff3f3 77.67%,#fefefe) no-repeat bottom;
}

.about h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    padding: 2.5rem 0;
}
.about .content p{
    font-size: 1.6rem;
    font-weight: 450;
    color: var(--color4);
    color: #7a8c9f;
    padding-right: 30%;
    padding-bottom: 2.5rem;
    line-height: 1.3;
    letter-spacing: -.32px;
}
.about-arrow{
    top: 0rem;
    width: 1rem;
    height: 20rem;
    position: absolute;
}

.about .right{
    position: relative;
    width: 100%;
}
.about .box1{
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 22.5rem;
    height: 22.5rem;
    background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%);
    border-radius: 2.5rem;
}
.about .copy1{
    background-color: #ffccd7;
    border-radius: 2.5rem;
    height: 23.5rem;
    width: 23.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem 3rem 3rem;
}
.about .copy1 h3{
    font-size: 6rem;
    font-weight: 700;
    color: var(--color3);
    letter-spacing: -.02em;
}
.about .copy1 h3 small{
    font-weight: 500;
    font-size: 2rem;
}
.about .copy1 p{
    color: var(--color3);
    font-weight: normal;
    font-size: 1.3rem;
}
.about .box2{
    position: absolute;
    bottom: -3rem;
    right: -3rem;
    height: 13.5rem;
    width: 20.5rem;
    background: linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);
    border-radius: 2.5rem;
}
.about .copy2{
    background: #cbc5e1;
    border-radius: 2.5rem;
    height: 13rem;
    width: 20rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 2rem;
}
.about .copy2 h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
    letter-spacing: -.02em;
}
.about .copy2 h3 small{
    font-weight: 500;
    font-size: 2rem;
}
.about .copy2 p{
    color: var(--color3);
    font-weight: normal;
    font-size: 1.3rem;
}
.about .copy2 svg{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    /* scale: 1.2; */
}

/* about-section */
.about-section h2{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    font-weight: 800;
    color: var(--color3);
}

.about-section p{
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 4rem;
    
    color: var(--color4);
    font-weight: 300;
    text-align: center;
}
.about-section p:last-child{
    margin-bottom: 0px;
}


.image-wrapper {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 12px;
}
.image-wrapper .photo {
  width: 60%;
  border-radius: 12px;
    z-index: 1;
}

.vision{
    /* background: url('/images/desktopLRBG.svg') left top no-repeat; */
    background:linear-gradient(180deg,#faf5ff,#fff3f3 77.67%,#fefefe) no-repeat bottom;
    background-size: cover;
    padding: 25rem 0 15rem;
}
.vision .card{
    border: 0px;
    padding: 3rem;
    border-radius: 16px;
    /* border: 1px solid #ffcaca; */
    background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%);
    text-align: center;
    position: relative;
    height: 100%;
}
.vision .card.two{
    background: linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);
}
.vision .card img{
    border: 1px solid #ffccd7;
    border-bottom-width: 5px;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    padding: 2.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, #fefefe, #fff3f3 50%, #faf5ff);
    transition: all 1s ease;
}
.vision .card:hover img {
  transform: rotate(360deg);
}


.vision .card.two img{
    border: 1px solid #cbc5e1;
    border-bottom-width: 5px;
}
.vision .card h3{
    color: #0a2540;
    font-size: 3rem;
    font-weight: 300;
    line-height: 140%;
}
.vision .card p{
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--color1);
}
.vision .card ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--color1);
}

.services .title{
    position: sticky;
    top: 15rem;
    left: 0px;
}
.services .title .tag{
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    padding-left: 7rem;
    position: relative;
}
.services .title .tag::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 1.2rem;
    width: 5rem;
    height: 2px;
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
}
.services .title h2{
    font-weight: 500;
    color: var(--color3);
    font-size: 5.5rem;
    text-wrap: balance;
    color: var(--color4);
}
.services .title h2 .char {
  display: inline-block;
}
.services .title h2 .word {
  display: inline-block; /* keeps words together */
  white-space: nowrap;   /* word can wrap as a unit */
}
@media only screen and (min-width: 1200px) {
    .services .title{
        padding-right: 1rem;
    }
}

.services .card{
    border: 0px;
    margin-bottom: 4rem;
}
.services .card:last-child{
    margin-bottom: 0px;
}
.services .card img{
    border-radius: 2rem;
}
.services .card .content{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.services .card h3{
    color: var(--color3);
    flex-basis: 70%;
}

.choose{
    position: relative;
}
.choose .container{
    display: grid;
}
.choose .title{
    position: sticky;
    top: 10rem;
}
.choose .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    padding: 2.5rem 0;
    text-align: center;
}
.choose .card{
    border: 0px;
    background: linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);
    border-radius: 2.5rem;
    min-height: 30rem;
    margin-bottom: 3rem;
    position: sticky;
    top:0rem;
    padding: 3rem 5rem 5rem 5rem;
    border-top: #fff solid 2px;
}
.choose .card img{
    position: absolute;
    right: 0px;
    bottom: -2rem;
    z-index: -1;
    opacity: .2;
}
.choose .card:nth-child(2){
    top: 20rem;
}
.choose .card:nth-child(3){
    top: 29rem;
}
.choose .card:nth-child(4){
    top: 38rem;
}
.choose .card:nth-child(5){
    top: 47rem;
}
.choose .card:nth-child(6){
    top: 56rem;
}

.choose .card:nth-child(odd){
    background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%);
}
.choose .card h3{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 300;
}
.choose .card p{
    font-size: 1.8rem;
    line-height: 1.4;
    padding-right: 20rem;
    font-weight: 300;
}

/* Understanding */
.understanding{
    background: linear-gradient(180deg, #faf5ff, #fff3f3 77.67%, #fefefe) no-repeat bottom;
}
.understanding .title{
    margin-bottom: 4rem;
}
.understanding .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    text-align: center;
}
.understanding .title p{
    text-align: center;
    font-size: 1.4rem;
    color: var(--color1);
    font-weight: 500;
}
.understanding .card{
    border: 0px;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;
    background: #fff;
    transition: transform .5s ease;
    cursor: pointer;
    background-color: inherit;
}
.understanding .card:hover {
  transform: translateY(-8px);
}
.understanding .card .image{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}
.understanding .card .image .icon{
    background: rgba(255, 255, 255, 0.15); /* translucent white */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);           /* the magic! */
    -webkit-backdrop-filter: blur(3px);   /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: var(--color2);
    opacity: 0;
    transition: all 0.3s ease;
    /* transform: translate(-50%, -50%) scale(0.8); */
    transition: all .5s ease;
}
.understanding .card .image .icon a{
    color: currentColor;
    text-decoration: none;
}
.understanding .card:hover .image .icon{
    opacity: 1;
  transform: scale(1.2);
}

.understanding .card h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 1.5rem 0;
    color: var(--color3);
}
.understanding .card h3 a{
    text-decoration: none;
    color: currentColor;
    transition: all .3s ease;
}
.understanding .card:hover h3 a{
    color: var(--color2);
}
/* Faq */
.faq{
    background: url('/images/desktopLRBG.svg') top left no-repeat;
    background-size: cover;
}
.faq .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    padding: 2.5rem 0;
    text-align: center;
}
.accordion-item{
    border-bottom: 0px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;
}
.accordion-header{
    font-weight: 300;
    border-radius: 5px;
}
.accordion-button{
    font-size: 2rem;
    background-color: #fabbd3;
    color: var(--color3);
    font-weight: 300;
    padding: 2rem 3rem;
    border-radius: 5px!important;
}
.accordion-button:hover{
    background-color: var(--color2);
}
.accordion-button::after{
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2346617b' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
    color: var(--color3);
    background-color: #fabbd3;
    box-shadow: inherit;
}
.accordion-body{
    padding: 2rem 3rem;
    font-size: 1.6rem;
}

/* testimonials */
.testimonial .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    text-align: center;
}
.testimonial .swiper-wrapper{
    padding: 10rem 0;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 2rem;
    color: #fff;
}
.swiper-button-next, .swiper-button-prev{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: var(--color4);
}
.testimonial .swiper-slide{
    display: flex;
    justify-content: center;
}
.testi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color4); */
    border-radius: 2rem;
    position: relative;
    min-height: 35rem;
    max-width: 70rem;
    margin-top: 7rem;
    
}
.testi i{
    font-size: 40rem;
    position: absolute;
    color: #f2f2f2;
    z-index: -1;
    transform: rotate(13deg);
}
.testi img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -7rem;
}
.testi .copy{
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 3rem;
}
.testi .name{
    color: var(--color3);
    font-size: 3.5rem;
    font-weight: 300;
}

/*  */
.home-about_wrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 200rem;
    display: flex;
    position: relative;
}
.home-about_sticky {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    position: sticky;
    top: 0;
}
.home-about_component {
    padding:0 1.6rem;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 10vh;
    transition: padding .6s;
    display: flex;
    position: relative;
}
.home-about_heading {
    font-size: 6rem;
    white-space: nowrap;
    position: absolute;
}
.home-about_heading._1 {
    right: calc(100% + .25rem);
}
.home-about_heading._2 {
    left: calc(100% + .25rem);
}
.home-about_img-text{
    position: absolute;
    color: #fff;
    font-size: 6rem;
    white-space: nowrap;
}
.home-about_img-wrap {
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    height: 100%;
    transition: border-radius .6s;
    display: flex;
    position: relative;
    overflow: clip;
}
.home-about_img {
    object-fit: cover;
    width: 100vw;
    min-width: 100vw;
    max-width: none;
    height: 100vh;
    min-height: 100vh;
}
/* footer */
.site_footer{
    background: linear-gradient(180deg, #fefefe, #fff3f3 50%, #faf5ff);
    padding: 6rem 0 3rem;
    font-size: 1.4rem;
}
.site_footer .legal{
    text-align: center;
    border-top: #f5e7ec solid 1px;
    padding-top: 2rem;
    color: var(--color1);
    margin-top: 5rem;
}
.site_footer .quick_link{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.site_footer .f-logo{
    margin-bottom: 3rem;
}
.site_footer p{
    font-size: 1.2rem;
    color: var(--color1);
    font-weight: 500;
}
.site_footer h4{
    color: #000;
    margin-bottom: 1.5rem;
}
.site_footer .quick_link li{
    margin-bottom: 1rem;
}
.site_footer .quick_link a{
    text-decoration: none;
    color: var(--color3);
    font-weight: 500;
}
.site_footer .contact{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.site_footer .contact li{
    margin-bottom: 1rem;
    color: var(--color1);
}
.site_footer .contact li span{
    color: var(--color1);
    font-weight: 500;
}
.site_footer .contact li a{
    color: var(--color3);
    text-decoration: none;
}
.site_footer .social{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    color: var(--);
}
.site_footer .social li a{
    color: var(--color4);
    font-size: 2.5rem;
}

.site_footer a{
    transition: all .3s ease;
}
.site_footer a:hover, .site_footer .social li a:hover, .site_footer .contact li a:hover{
    color: var(--color2);
}


/* Loader full screen */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0a2540; /* change to your brand color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #fff;
  display: grid;
  place-items: center; 
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #ff4b6e; /* accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fade-out animation */
#loader.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.home-hero{
    padding: 14rem 0;
    background:linear-gradient(180deg, #faf5ff, #fff3f3 77.67%, #fefefe) no-repeat bottom;
    /* background-size: 137.1428571429rem auto; */
}
.home-hero .container{
    max-width: 1230px;
}
.home_hero_left{
    position: relative;
    padding-right: 7rem;
}
.home_hero_left h2{
    font-size: 5.7rem;
    font-weight: 700;
    color: var(--color3);
}
.home_hero_left .copy{
    color: rgba(10, 37, 64, .6);
    font-size: 1.677rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding-top: 4.8rem;
    margin-bottom: 10.5rem;
}
.home_hero_left .rose{
    position: absolute;
    top: 69px;
    right: 171px;
    width: 133px;
}
.home_hero_left .boxes{
    background-color: #fff;
    border-radius: 1.5rem;
    display: grid;
    padding: 3.5rem 0;
    grid-template-columns: 1fr 1fr;
}
.home_hero_left .boxes .box:first-child{
    border-right: #ffe7ec solid 1px;
}
.home_hero_left .boxes .box{
    font-size: 1.2rem;
    padding: 0 2.5rem;
}
.home_hero_left .boxes .box h3{
    color: var(--color3);
    font-weight: 600;
    margin-bottom: 1rem;
}
.home_hero_left .boxes .box p{
    color: var(--color1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    min-height: 8rem;
}
.home_hero_left .boxes .box a{
    color: var(--color2);
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-weight: 600;
    font-size: 1.2rem;
}

.heroSwiper{
     display: block;
    position: relative;
    background: linear-gradient(93deg, #ffe1e1 -33.46%, #f7e0e8 59.02%, #fffcfd 151.5%);
    border-radius: 2rem;
}
.heroSwiper .swiper-slide{
   padding: 4rem;
   height: 55rem;
}
.heroSwiper .swiper-slide h3{
    font-size: 3.5rem;
    font-weight: 600;
    padding-right: 30%;
    margin-bottom: 4rem;
    color: var(--color3);
}
.heroSwiper .swiper-slide p{
    margin-bottom: 3rem;
    padding-right: 25%;
    color: var(--color1);
    font-size: 1.4rem;
}
.heroSwiper .swiper-slide img{
    max-width: 40rem;
    max-height: 20rem;
    margin-bottom: 5em;
}
.heroSwiper .swiper-slide .svgIcon{
    width: 5rem;
}
.heroSwiper .swiper-pagination {
  top: 2rem;
  right: 2rem;
  left: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heroSwiper .swiper-pagination-bullet {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.heroSwiper .swiper-pagination-bullet svg {
  position: absolute;
  transform: rotate(90deg); /* start from top */
}

.heroSwiper .swiper-pagination-bullet circle {
  fill: none;
  stroke-width: 2;
  r: 15;
  cx: 24;
  cy: 24;
}

.heroSwiper .swiper-pagination-bullet circle.progress {
  stroke: var(--color2);
  stroke-dasharray: 125.6;
  stroke-dashoffset: 125.6;
  transition: stroke-dashoffset linear;
}

.heroSwiper .swiper-pagination-bullet .number {
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
}


/* Product slider */

.custom-pagination {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.custom-pagination .tab {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  font-weight: 500;
  color: #deb6c4;
  opacity: 1;
  width: 100%;
  background-color: inherit;
  padding: 3rem 0;
}

.custom-pagination .tab-number {
  font-size: 3rem;
  font-weight: 700;
}
.custom-pagination .tab-label{
    font-weight: 700;
}
.custom-pagination .arrow{
    width: 1.7rem;
    position: absolute;
    right: 1rem;
    display: none;
}
.custom-pagination .swiper-pagination-bullet-active {
  color: #465465;
}
.custom-pagination .swiper-pagination-bullet-active .arrow{
    display: block;
}

.custom-pagination .progress-bar {
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgba(195,208,224,.5);
  overflow: hidden;
}

.custom-pagination .progress-bar span {
  display: block;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg,#ffe2d2,#ffc9d6 50%,#f98dc6);
  transition: width 0.1s linear;
}

.tag{
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 650;
    padding-bottom: 1rem;
}

.title h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
}
.title p{
    color: var(--color5);
}

/* Product */
.product{
    padding-top: 20rem;
    padding-bottom: 18rem;
    background:  url('/images/desktopRLBG.svg') no-repeat right bottom / contain;
}
.product .left{
    padding-right: 9%;
}
.product .title .tag{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.product .title h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
    margin-bottom: 2rem;
}
.product .title p{
    color: var(--color5);
    margin-bottom: 3rem;
}
.slider2{
    background-color: #fbf6f6;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 38.46px 30.768px -23.076px rgba(95, 92, 121, .22);
}
.slider2 .swiper-slide{
    padding: 2.5rem;
}
.slider2 .number{
    color: var(--color2);
    font-weight: 700;
    font-size: 1.3rem;
}
.slider2 h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
}
.slider2 p{
    color: var(--color5);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}


/* account */
.account{
    padding-top: 18rem;
}

.account .title p{
    margin-bottom: 0px;
    font-size: 1.3rem;
    padding-right: 20%;
}
.account .box{
            padding: 2.4285714286rem 2.5714285714rem;
    background: #fefefe;
    border-radius: 1.1428571429rem;
    box-shadow: 0 0 11.538px 0 rgba(0, 0, 0, .04), 0 38.46px 30.768px -23.076px rgba(95, 92, 121, .22);
}
.account .box .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account .box .top .price{
    padding: .5714285714rem 1rem;
    border-radius: 3.5714285714rem;
    background: #f6f9fc;
    -webkit-backdrop-filter: blur(7.6919255257px);
    backdrop-filter: blur(7.6919255257px);
    color: #ada5ff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}
.account .box .top .svg_icon{
    width: 8rem;
}
.account .box .top .svg_icon.two{
    width: 5rem;
}
.account .box h3{
    font-weight: 700;
    font-size: 2rem;
    margin: 3rem 0 1rem;
}
.account .box p{
    color: var(--color5);
    font-size: 1rem;
    font-weight: 500;
}
.account .box hr{
    opacity: .15;
    margin: 2rem 0;
}
.account .box a{
    width: 100%;
    font-size: 1.3rem;
}

/* Price */
.price{
    padding: 15rem 0;
}
.price .left{
    position: sticky;
    top: 13rem;
}
.price .title h2{
    margin: 2rem 0;
}
.price .title p{
    font-weight: 500;
}
.price .right{
    padding-left: 5rem;
}
.price .card{
    border: 0px;
    border-radius: 1.1428571429rem;
    background: #fff;
    box-shadow: 0 0 22px 2px rgba(160, 68, 103, .15), 0 40px 32px -24px rgba(95, 92, 121, .22);
    padding: 3rem;
    max-width: 60rem;
    margin-bottom: 7.5rem;
}
.price .card .leftPrice{
    border-right: #ccc solid 1px;
    height: 100%;
}
.price .card .light-gray{
        color: #7a8c9f;
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
}
.price .card .content{
    padding-left: 3rem;
}
.price .card .rate{
    color: var(--color3);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0.7rem 0;
}
.price .card .month{
    color: var(--color3);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: .5714285714rem;
}
.price .card h3{
    color: var(--color3);
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}
.price .card ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.price .card ul li{
    display: flex;
    align-items: center;
    gap: .5357142857rem;
    color: rgba(10, 37, 64, .6);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
}
.price .card ul li i{
    color: var(--color2);
    font-size: 1.7rem;
}