:root{
    --color1: #46617b;
    --color2: #f38ab2;
    --color3: #0a2540;
    --color4: #a3b0bd;
    --color5: #7a8c9f;
    --color6: #ffcaca;

    --space: 15rem;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    font-family: "Inter", sans-serif;
    line-height: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    line-height: 1.3;
    background-color: #fefefe;
}
h1, h2, h3, h4, h5, h6{
    color: var(--color3);
}
.space_top{
    padding-top: var(--space);
}
.space_bottom{
    padding-bottom: var(--space);
}
.space{
    padding: var(--space) 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 7.1428571429rem;
    background: #f38ab2;
}
.btn-primary {
  background: var(--color2);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border: var(--color2) solid 1px;
  border-radius: 50px;
  padding: 8px 25px;
  transition: all .2s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-primary::before{
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color1);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50px;
    transition: all .2s ease;
    visibility: hidden;
    z-index: -1;
}

.btn-primary:hover {
  background-color: var(--color2);
  border: var(--color1) solid 1px;
}
.btn-primary:hover::before{
    transition: all .2s ease;
    width: 100%;
    height: 100%;
    visibility: visible;
    bottom: 0px;
}

.btn-primary i {
  position: relative;
  right: 0;
  transition: all .5s ease;
}

.btn-primary:hover i {
  right: -3px;
}
.container{
    max-width: 1050px;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}
/* Navbar */
.site_header{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 15px;
    z-index: 111;
}
.navbar-nav{
    border-radius: .8571428571rem;
    border: 2px solid #ffcaca;
    background: #fff;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    gap: .6428571429rem;
    padding: 0.9rem 1.5rem;
    overflow: hidden;
}
.navbar-expand-lg .btn{
    font-weight: 400!important;
    padding: 5px 13px!important;
    font-size: 1.3rem!important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color1);
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-expand-lg .container-fluid{
    padding-left: 3rem;
    padding-right: 3rem;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--color2);
}

.about {
    position: relative;
    padding: 18rem 0;
    background:linear-gradient(180deg,#faf5ff,#fff3f3 77.67%,#fefefe) no-repeat bottom;
}

.about h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    padding: 2.5rem 0;
}
.about .content p{
    font-size: 1.6rem;
    font-weight: 450;
    color: var(--color4);
    color: #7a8c9f;
    padding-right: 30%;
    padding-bottom: 2.5rem;
    line-height: 1.3;
    letter-spacing: -.32px;
}
.about-arrow{
    top: 0rem;
    width: 1rem;
    height: 20rem;
    position: absolute;
}

.about .right{
    position: relative;
    width: 100%;
}
.about .box1{
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 22.5rem;
    height: 22.5rem;
    background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%);
    border-radius: 2.5rem;
}
.about .copy1{
    background-color: #ffccd7;
    border-radius: 2.5rem;
    height: 23.5rem;
    width: 23.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem 3rem 3rem;
}
.about .copy1 h3{
    font-size: 6rem;
    font-weight: 700;
    color: var(--color3);
    letter-spacing: -.02em;
}
.about .copy1 h3 small{
    font-weight: 500;
    font-size: 2rem;
}
.about .copy1 p{
    color: var(--color3);
    font-weight: normal;
    font-size: 1.3rem;
}
.about .box2{
    position: absolute;
    bottom: -3rem;
    right: -3rem;
    height: 13.5rem;
    width: 20.5rem;
    background: linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);
    border-radius: 2.5rem;
}
.about .copy2{
    background: #cbc5e1;
    border-radius: 2.5rem;
    height: 13rem;
    width: 20rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 2rem;
}
.about .copy2 h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
    letter-spacing: -.02em;
}
.about .copy2 h3 small{
    font-weight: 500;
    font-size: 2rem;
}
.about .copy2 p{
    color: var(--color3);
    font-weight: normal;
    font-size: 1.3rem;
}
.about .copy2 svg{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    /* scale: 1.2; */
}


/* Card about*/
.card-about{
    /* background-color: var(--color2); */
        /* background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%); */
            /* background: linear-gradient(360deg, #faf5ff, #fff3f3 77.67%, #fefefe) no-repeat bottom; */
        color: var(--color3);
}
.card-about .title{
    margin-bottom: 6rem;
}
.card-about .title h2{
    font-size: 3.6rem;
    margin-bottom: 0px;
}
.card-about .card{
    background-color: #ffccd7;
    border: 0px;
    padding: 3rem 2rem;
    color: var(--color3);
    height: 20rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: transparent solid 1px;
    border-bottom: transparent solid 3px;
}
.card-about .card h2{
    font-size: 2.2rem;
    margin-right: 20%;
    color: var(--color3);
}
.card-about .card p{
    margin-bottom: 0px;
    color: var(--color1);
}
.card-about .card svg{
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 3rem;
    height: 3rem;
}
.card-about .card svg path{
    stroke: var(--color2);
}
.card-about .card.last-card{
    justify-content: flex-start;
    background-color: #cbc5e1;
}
.card-about .card.last-card h2{
    font-size: 5rem;
}
.card-about .card.last-card p{
    font-size: 2rem;
}
.card-about .card.last-card svg{
    top: inherit;
    bottom: 2rem;
}
.card-about .card.last-card svg path{
    stroke: var(--color3);
}
.card-about .card:hover{
    border: var(--color2) solid 1px;
    border-bottom: var(--color2) solid 3px;
}
.card-about .card.last-card:hover{
    border: var(--color5) solid 1px;
    border-bottom: var(--color5) solid 3px;
}
.about-craft{
    padding-top: 33rem;
    padding-bottom: 15rem;
    margin-top: -33rem;
    background: url(/images/desktopRLBG.svg) no-repeat right bottom / cover;
}
.about-craft .title{
    margin-bottom: 5rem;
}
.about-craft .card{
    border: 0px;
    border-radius: 2rem;
    padding: 3rem;
    color: var(--color3);
}
.about-craft .card .num{
    border: var(--color5) solid 1px;
    color: var(--color3);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.about-craft .card img{
    border:0px;
    margin: 4rem 0;
    height: 25rem;
    object-fit: cover;
    border: var(--color5) solid 0.5px;
}
.about-craft .card h3{
    font-size: 2.2rem;
    margin-bottom: 3rem;
    color: var(--color3);
}
.about-craft .card p{
    font-size: 1.4rem;
    margin-bottom: 0px;
    color: var(--color5);
}

/* footer */
.site_footer{
    background: linear-gradient(180deg, #fefefe, #fff3f3 50%, #faf5ff);
    padding: 6rem 0 3rem;
    font-size: 1.4rem;
}
.site_footer .legal{
    text-align: center;
    border-top: #f5e7ec solid 1px;
    padding-top: 2rem;
    color: var(--color1);
    margin-top: 5rem;
}
.site_footer .quick_link{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.site_footer .f-logo{
    margin-bottom: 3rem;
}
.site_footer p{
    font-size: 1.2rem;
    color: var(--color1);
    font-weight: 500;
}
.site_footer h4{
    color: #000;
    margin-bottom: 1.5rem;
}
.site_footer .quick_link li{
    margin-bottom: 1rem;
}
.site_footer .quick_link a{
    text-decoration: none;
    color: var(--color3);
    font-weight: 500;
}
.site_footer .contact{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.site_footer .contact li{
    margin-bottom: 1rem;
    color: var(--color1);
}
.site_footer .contact li span{
    color: var(--color1);
    font-weight: 500;
}
.site_footer .contact li a{
    color: var(--color3);
    text-decoration: none;
}
.site_footer .social{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    color: var(--);
}
.site_footer .social li a{
    color: var(--color4);
    font-size: 2.5rem;
}

.site_footer a{
    transition: all .3s ease;
}
.site_footer a:hover, .site_footer .social li a:hover, .site_footer .contact li a:hover{
    color: var(--color2);
}


/* Loader full screen */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0a2540; /* change to your brand color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #fff;
  display: grid;
  place-items: center; 
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #ff4b6e; /* accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fade-out animation */
#loader.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.home-hero{
    padding: 14rem 0;
    background:linear-gradient(180deg, #faf5ff, #fff3f3 77.67%, #fefefe) no-repeat bottom;
    /* background-size: 137.1428571429rem auto; */
}
.home-hero .container{
    max-width: 1230px;
}
.home_hero_left{
    position: relative;
    padding-right: 3rem;
}
.home_hero_left h2{
    font-size: 5.7rem;
    font-weight: 700;
    color: var(--color3);
}
.home_hero_left .copy{
    color: rgba(10, 37, 64, .6);
    font-size: 1.677rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding-top: 4.8rem;
    margin-bottom: 10.5rem;
}
.home_hero_left .rose{
    position: absolute;
    top: 69px;
    right: 171px;
    width: 133px;
}
.home_hero_left .boxes{
    background-color: #fff;
    border-radius: 1.5rem;
    display: grid;
    padding: 3.5rem 0;
    grid-template-columns: 1fr 1fr;
}
.home_hero_left .boxes .box:first-child{
    border-right: #ffe7ec solid 1px;
}
.home_hero_left .boxes .box{
    font-size: 1.2rem;
    padding: 0 2.5rem;
}
.home_hero_left .boxes .box h3{
    color: var(--color3);
    font-weight: 600;
    margin-bottom: 1rem;
}
.home_hero_left .boxes .box p{
    color: var(--color1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    min-height: 8rem;
}
.home_hero_left .boxes .box a{
    color: var(--color2);
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-weight: 600;
    font-size: 1.2rem;
}

.heroSwiper{
     display: block;
    position: relative;
    background: linear-gradient(93deg, #ffe1e1 -33.46%, #f7e0e8 59.02%, #fffcfd 151.5%);
    border-radius: 2rem;
}
.heroSwiper .swiper-slide{
   padding: 4rem;
   height: 55rem;
}
.heroSwiper .swiper-slide h3{
    font-size: 3.5rem;
    font-weight: 600;
    padding-right: 30%;
    margin-bottom: 4rem;
    color: var(--color3);
}
.heroSwiper .swiper-slide p{
    margin-bottom: 3rem;
    padding-right: 25%;
    color: var(--color1);
    font-size: 1.4rem;
}
.heroSwiper .swiper-slide img{
    height: 150px;
    margin-bottom: 5em;
}
.heroSwiper .swiper-slide .img1{
    height: 17.5rem;
}
.heroSwiper .swiper-slide .img2{
    height: 20rem;
}
.heroSwiper .swiper-slide .img3{
    height: 21.5rem;
}
.heroSwiper .swiper-slide .svgIcon{
    width: 5rem;
}
.heroSwiper .swiper-pagination {
  top: 2rem;
  right: 2rem;
  left: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heroSwiper .swiper-pagination-bullet {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.heroSwiper .swiper-pagination-bullet svg {
  position: absolute;
  transform: rotate(90deg); /* start from top */
}

.heroSwiper .swiper-pagination-bullet circle {
  fill: none;
  stroke-width: 2;
  r: 15;
  cx: 24;
  cy: 24;
}

.heroSwiper .swiper-pagination-bullet circle.progress {
  stroke: var(--color2);
  stroke-dasharray: 125.6;
  stroke-dashoffset: 125.6;
  transition: stroke-dashoffset linear;
}

.heroSwiper .swiper-pagination-bullet .number {
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
}


/* Product slider */

.custom-pagination {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.custom-pagination .tab {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  font-weight: 500;
  color: #deb6c4;
  opacity: 1;
  width: 100%;
  background-color: inherit;
  padding: 3rem 0;
}

.custom-pagination .tab-number {
  font-size: 3rem;
  font-weight: 700;
}
.custom-pagination .tab-label{
    font-weight: 700;
}
.custom-pagination .arrow{
    width: 1.7rem;
    position: absolute;
    right: 1rem;
    display: none;
}
.custom-pagination .swiper-pagination-bullet-active {
  color: #465465;
}
.custom-pagination .swiper-pagination-bullet-active .arrow{
    display: block;
}

.custom-pagination .progress-bar {
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgba(195,208,224,.5);
  overflow: hidden;
}

.custom-pagination .progress-bar span {
  display: block;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg,#ffe2d2,#ffc9d6 50%,#f98dc6);
  transition: width 0.1s linear;
}

.tag{
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 650;
    padding-bottom: 1rem;
}

.title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
}
.title p{
    color: var(--color5);
}

/* Product */
.product{
    padding-top: 17rem;
    padding-bottom: 15rem;
    background:  url('/images/desktopRLBG.svg') no-repeat right bottom / contain;
}
.about-product{
    background: inherit;
}
.about-product .left{
    padding-right: inherit;
    padding-left: 9%;
}
.product .left{
    padding-right: 9%;
}
.product .title .tag{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.product .title h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
    margin-bottom: 2rem;
}
.product .title p{
    color: var(--color5);
    margin-bottom: 3rem;
}
.slider2 .swiper-wrapper{
    padding-bottom: 4rem;
}
.slider2 .copy{
    padding: 2.5rem;
    padding-bottom: 0px;
}
.slider2 .copy p{
    height: 8rem;
    overflow: hidden;
}
.slider2 .number{
    color: var(--color2);
    font-weight: 700;
    font-size: 1.3rem;
}
.slider2 .swiper-slide{
    background-color: #fbf6f6;
    border-radius: 1.5rem;
    box-shadow: 0 40px 32px -24px rgba(95,92,121,.22);
}
.slider2 .svgIcon{
    height: 30rem;
    background: url(/images/svg/Slider_Image_BG_desktop.svg) no-repeat;
    /* background-size: cover; */
    background-position: center -25px;
    background-color: #fff;
    border-radius: 2rem;
    margin: 1rem 1rem;
    padding: 3rem 1rem;
}
.slider2 .svgIcon svg{
    width: 100%;
    height:100%;
}
.slider2 h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
}
.slider2 p{
    color: var(--color5);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0px;
}


/* account */
.account{
    padding-top: 15rem;
}

.account .title p{
    margin-bottom: 0px;
    font-size: 1.3rem;
    padding-right: 20%;
}
.account .box{
            padding: 2.4285714286rem 2.5714285714rem;
    background: #fefefe;
    border-radius: 1.1428571429rem;
    box-shadow: 0 0 11.538px 0 rgba(0, 0, 0, .04), 0 38.46px 30.768px -23.076px rgba(95, 92, 121, .22);
}
.account .box .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account .box .top .price{
    padding: .5714285714rem 1rem;
    border-radius: 3.5714285714rem;
    background: #f6f9fc;
    -webkit-backdrop-filter: blur(7.6919255257px);
    backdrop-filter: blur(7.6919255257px);
    color: #ada5ff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}
.account .box .top .svg_icon{
    width: 8rem;
}
.account .box .top .svg_icon.two{
    width: 5rem;
}
.account .box h3{
    font-weight: 700;
    font-size: 2rem;
    margin: 3rem 0 1rem;
}
.account .box p{
    color: var(--color5);
    font-size: 1rem;
    font-weight: 500;
}
.account .box hr{
    opacity: .15;
    margin: 2rem 0;
}
.account .box a{
    width: 100%;
    font-size: 1.3rem;
}

/* Price */
.price{
    padding: 15rem 0;
}
.price .left{
    position: sticky;
    top: 13rem;
}
.price .title h2{
    margin-top: 2rem;
    font-size: 2.9rem;
}
.price .title img{
    width: 80%;
    margin-top: 4.5rem;
}
.price .title p{
    padding-top: 2rem;
    font-weight: 500;
}
.price .right{
    padding-left: 5rem;
}
.price .card{
    border: 0px;
    border-radius: 1.1428571429rem;
    background: #fff;
    box-shadow: 0 0 22px 2px rgba(160, 68, 103, .15), 0 40px 32px -24px rgba(95, 92, 121, .22);
    padding: 3rem;
    max-width: 60rem;
    margin-bottom: 7.5rem;
}
.price .card .leftPrice{
    border-right: #ccc solid 1px;
    height: 100%;
}
.price .card .light-gray{
        color: #7a8c9f;
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
}
.price .card .content{
    padding-left: 3rem;
}
.price .card .rate{
    color: var(--color3);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0.7rem 0;
}
.price .card .month{
    color: var(--color3);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: .5714285714rem;
}
.price .card h3{
    color: var(--color3);
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}
.price .card ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.price .card ul li{
    display: flex;
    align-items: center;
    gap: .5357142857rem;
    color: rgba(10, 37, 64, .6);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
}
.price .card ul li i{
    color: var(--color2);
    font-size: 1.7rem;
}

/* mobile */
.mobile{
    background: url(/images/desktopLRBG.svg) left top no-repeat;
    padding: 28rem 0 10rem;
    margin-top: -21rem;
    position: relative;
}
.serviceArrow{
    display: block;
    width: 56.92rem;
    height: 34.5rem;
    top: -5.33rem;
    left: 64.9rem;
    position: absolute;
}
.mobile h2{
    font-size: 2.9rem;
    color: var(--color3);
    font-weight: 700;
    margin-bottom: 4.2rem;
}
.features-list{
    color: var(--color3);
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.features-list li{
    font-size: 1.4rem;
    /* font-weight: 500; */
    color: rgba(10,37,64,.898);
    position: relative;
    padding-left: 2.3rem;
    margin-bottom: 2.2rem;
}
.features-list li svg{
    width: 2rem;
    position: absolute;
    left: 0;
    top: 0px;
}
.store .AppStore{
    width: 9.4rem;
    display: block;
    margin-bottom: 1rem;
}
.store{
    padding-left: 2rem;
}
.store h4{
    font-weight: 700;
    color: #0a2540;
    position: relative;
    margin-bottom: 1.5rem;
}
.store p{
    font-size: 1.4rem;
    color: rgba(10,37,64,.898);
    margin-bottom:2rem;
}
.store h4::before{
    position: absolute;
    left: -1rem;
    top: 0px;
    content: '';
    width: 3px;
    height: 2rem;
    background-color: var(--color2);
}
.store .GooglePlay{
    width: 10.6rem;
}
.phone{
    text-align: right;
}
.phone_end{
    max-width: 30rem;
    box-shadow: 0 40px 62px -8px rgba(95, 92, 121, .26);
    border-radius: 4rem;
    display: none;
}
.svgMobile{
    max-width: 30rem;
}
/* footer */
.footer{
    background: linear-gradient(180deg, #fefefe, #fff3f3 50%, #faf5ff);
    padding: 5.7142857143rem 8.5714285714rem 4.5714285714rem;
    background-size: cover;
}
.footer p{
    margin-bottom: 0px;
}
.footer .f-logo{
    width: 15rem;
    margin-bottom: 5rem;
}
.footer .intro p{
    font-size: 1.26rem;
    color: #7a8c9f;
    font-weight: 400;
}
.footer .working{
    display: flex;
}
.footer .working h3{
    color: #0a2540;
    font-size: 1.26rem;
    font-weight: 550;
}
.footer .working p{
    font-size: 1.26rem;
    color: #7a8c9f;
    font-weight: 400;
}
.footer .working a{
    font-size: 1.2rem;
    width: 10rem;
    height: 3.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: inherit;
}
.footer .working a i{
    font-size: 10px;
    right: -3px;
    top: 1px;
}
.footer .social{
    display: flex;
    gap: 1rem;
    margin-top: 2.7rem;
    margin-bottom: 3.3rem;
}
.footer .social a{
    text-decoration: none;
}
.footer .social a svg{
    width: 2rem;
}
.footer .links a{
    text-decoration: none;
    display: block;
    font-size: 1.26rem;
    color: #46617b;
    font-weight: 500;
    margin-bottom: 1.4rem;
}
.footer .links a:last-child{
    margin-bottom: 0px;
}
.small-logos{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}
.small-logos .logo1{
    width: 6.3rem;
}
.small-logos .logo2{
    width: 3.3rem;
}
.small-logos .logo3{
    width: 3.7rem;
}
.small-logos .logo4{
    width: 8.5rem;
}
.small-logos .logo5{
    width: 5.9rem;
}
.small-logos .logo6{
    width: 10.6rem;
}
.footer-end{
    margin-top: 4.2rem;
}
.footer-end .legal{
        color: #aab4c1;
    font-size: 0.945rem;
    font-weight: 400;
    line-height: 140%;
}
.footer-end a{
    font-size: 1.2rem;
        color: #46617b;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
    text-decoration: none;
}

/* why choose */
/* .why_choose .title{
    max-width: 35rem;
} */
 .carAnimate{
    position: relative;
 }


.why_choose_arrow{
    margin-left: 3rem;
}
.why_choose{
    padding-top: 15rem;
    position: relative;
}
.why_choose .title h2{
    font-size: 6.6rem;
    margin-bottom: 2.5rem;
}
.why_choose .title p{
    font-size: 1.4rem;
    font-weight: 450;
    color: #7a8c9f;
    margin-bottom: 3rem;
}
.why_choose .btn{
    font-size: 1.2rem;
    width: 10rem;
    height: 3.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: inherit;
}
.why_choose .btn i{
    font-size: 10px;
    right: -3px;
    top: 1px;
}
.why_choose .wrap{
    width: 75%;
    margin-left: auto;
    margin-top: -9rem;
}
.slider3-pagination {
  display: flex;
  justify-content: center;
  
  margin-top: 20px;
}

.slider3-pagination .tab {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
  transition: all 0.3s ease;
  justify-content: center;
  text-align: center;
}

.slider3-pagination .swiper-pagination-bullet{
    width: inherit;
    height: inherit;
    border: 0px;
    border-radius: 0px;
    /* border-right: #ccc dashed 1px; */
    /* border-left: #ccc dashed 1px; */
    margin: 0px!important;
    opacity: 1;
    position: relative;
}
.slider3-pagination .tab.swiper-pagination-bullet-active {
  background: #fdf1f6;
  background: linear-gradient(90deg,rgba(249,141,198,.4),rgba(255,201,214,.4) 50%,rgba(255,226,210,.4));
}
.slider3-pagination .tab .tab-label{
    display: block;
    text-align: center;
    color: #c3d0e0;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 2rem 0;
}
.slider3-pagination .tab img {
    width: 10.1rem;
    height: 4.5rem;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.9rem;
  filter: grayscale(30%);
  opacity: .5;
}
.slider3-pagination .tab.swiper-pagination-bullet-active .tab-label{
    color: #000;
}
.slider3-pagination .tab.swiper-pagination-bullet-active .tab-label img{
    filter: inherit;
    opacity: 1;
}


.slider3-pagination .progress-bar {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2.3px;
  width: 100%;
  background: inherit;
  overflow: hidden;
}

.slider3-pagination .progress-bar span {
  display: block;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg,#f9d5c2,#efb1bf 50%,#f98dc6);
  transition: width 0.1s linear;
}



.slider3 .swiper-slide{
    height: 46rem;
}
.cards-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-wrapper .cardPick{
    position: absolute;
    width: 35rem;
    z-index: 1;
}
.cards-wrapper .cardPick.two{
    transform: rotate(-19deg);
    transform-origin: left 110px;

}
.cards-wrapper .cardPick.one{
    transform: rotate(12.444deg);
    transform-origin: left bottom;
}
.cards-wrapper .cardPick img{
    box-shadow: -1.3571428571rem 7.0714285714rem 3.65rem -4.2142857143rem rgba(115,1,1,.33);
}




/*  */
.effect {
  position: absolute;
  right: 63rem;
  top: 26rem;
}

.circle {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 7px solid #f4e4fc; /* thick starting border */
  background: transparent;
  margin: 10px;
  position: absolute;
  top: 0;
}

.delay1 {
  animation: waves 3.5s linear 0s infinite;
}

.delay2 {
  animation: waves 3.5s linear 0.7s infinite;
}

.delay3 {
  animation: waves 3.5s linear 1.4s infinite;
}

.delay4 {
  animation: waves 3.5s linear 2.1s infinite;
}

.delay5 {
  animation: waves 3.5s linear 2.8s infinite;
}
/* New slower circle */


@keyframes waves {
  0% {
    transform: scale(1);
    border-width: 7px;
    opacity: 1;
  }
  100% {
    transform: scale(4);
    border-width: 1px;
    opacity: 0;
  }
}


/* Exam page */
.exam-banner{
    background: linear-gradient(180deg, #faf5ff, #fff3f3 77.67%, #fefefe) no-repeat bottom;
    /* background-image: url('/images/grid_1920.svg'); */
    background-position: 50%, 50%, 0 0, 50%;
    background-size: cover, cover, auto, cover;
    padding-top: 18rem;
    padding-bottom: 18rem;
}
.exam-banner .container {
    max-width: 1230px;
}
.exam-banner .title .tag{
    margin-bottom: 2rem;
}
.exam-banner .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
}
.exam-banner .title p{
    padding: 2.5rem 0;
}
.exam-banner .dashboard{
    position: relative;
    text-align: right;
}
.exam-banner .dashboard .score{
    max-width: 40rem;
    margin-left: auto;
    background-color: var(--color1);
    border-radius: 2rem;
}

.exam-banner .dashboard .bar{
    position: absolute;
    bottom: -10rem;
    left: 0rem;
    max-width: 35rem;
}

.proven .top{
    background: url('/images/exam/pattern.webp') left top / cover no-repeat,
  linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);;
    color: var(--color3);
    height: 18rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1.5rem;
    position: relative;
}
.proven .top h3{
    font-size: 2rem;
    color: var(--color3);
    text-transform: uppercase;
}
.proven .top .icon{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    opacity: .5;
}
.proven .top p{
    margin-bottom: 0px;
    color: var(--color1);
}
.proven .bottom .frame{
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}
.proven .top.last{
    direction: rtl;
}
.proven .top.last .icon{
    right: inherit;
    left: 1.5rem;
}
.proven .middle{
    background: 
  url('/images/exam/pattern.webp') center center / cover no-repeat,
  linear-gradient(93deg, #ffe1e1 -33.46%, #f7e0e8 59.02%, #fffcfd 151.5%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1.5rem;
    color: var(--color3);
    position: relative;
}
.proven .middle h3{
    color: var(--color3);
    text-transform: uppercase;
    margin: 2rem 0;
}
.proven .middle .icon{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    opacity: .5;
}
.proven .middle .fect{
    display: inline-block;
    background: inherit;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
}
.proven .middle p{
    color: var(--color1);
    margin-bottom: 2rem;
}

.solutions .item{
    color: var(--color3);
}
.solutions .item .num{
    color: var(--color1);
    font-size: 8rem;
    font-weight: 600;
}
.solutions .bar{
    height: 100%;
    width: 3px;
    background-color: var(--color1);
}

.solutions{
    background: #ffffff;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(254, 244, 244, 1) 33%, rgba(243, 231, 249, 1) 100%);
}
.solutions .title{
    padding-bottom: 12rem;
}
.solutions .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);

}
.process-widget-block {
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
    flex-flow: column;
    max-width: 796px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}
.process-widget-row {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    justify-content: space-between;
    display: flex;
}
.progress-widget-left {
    margin-top: -10rem;
}
.process-widget {
    max-width: 342px;
}
.process-widget-no {
    color: var(--color3);
    font-size: 8rem;
    font-weight: 500;
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .5;
}
.process-widget-body {
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    color: var(--color3);
    flex-flow: column;
    display: flex;
}
.process-widget-body h3{
    font-size: 2.5rem;
}
.progress-widget-right {
    margin-top: 49px;
}
.process-progress-bar {
    background-color: var(--color6);
    width: 2px;
    height: 100%;
    position: absolute;
    inset: 0% auto auto 50%;
    overflow: hidden;
    transform: translate(-50%);
}
.progress-inner-wrap {
    width: 100%;
    height: 100%;
}
.process-progress-inner {
     background-color: var(--color2);
    width: 100%;
    height: 174px;
    transform: translateY(0);       /* collapsed */
    transform-origin: top center;
}

.services .card{
    border-radius: 10px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgb(215, 218, 238);
    border: 0px;
    height: 30rem;
    display: flex;
    justify-content: space-between;
}

.services .card .btn-tag{
    background-color: #fff;
    color: var(--color3);
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50px;
}
.services .card .btn-tag span{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50px;
    background-color: #5d6fd1;
    margin-right: 5px;
}
.services .card.two{
    background-color: rgb(202, 202, 202);
}
.services .card.two .btn-tag span{
    background-color: #1f1f1f;
}
.services .card.three .btn-tag span{
    background-color: #fc7c35;
}
.services .card.four .btn-tag span{
    background-color: #7bc8a4;
}
.services .card.five .btn-tag span{
    background-color: #5266d1;
}
.services .card.six .btn-tag span{
    background-color: #1f1f1f;
}
.services .card.three{
    background-color: rgb(246, 221, 207);
}
.services .card.four{
    background-color: rgb(221, 236, 229);
}
.services .card.five{
    background-color: rgb(215, 218, 238);
}
.services .card.six{
    background-color: rgb(202, 202, 202);
}
.services .card .service_card{
    object-fit: cover;
    height: 100%;
    position: absolute;
    inset: 0% 0% 0% auto;
}

.services .card h3{
    color: var(--color3);
    font-size: 2.5rem;
    margin-bottom: 0px;
}
.services .card p{
    margin: 1.5rem 0;
}
.services .card h3 a{
    text-decoration: none;
    color: currentColor;
}
.link{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.7rem;
    letter-spacing: -0.2px;
    display: inline-block;
    position: relative;
    padding: 0.5rem 0;
    transition: all .5s ease;
    font-weight: 500;
}
.link::before{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 3rem;
    height: 1px;
    content: '';
    background-color: var(--color3);
    transition: all .5s ease;
}
.link:hover::before{
    width: 100%;
}



.plan{
    background: url('/images/exam/plan-bg.webp') center top / cover no-repeat;
    background-attachment: fixed;
}
.plan .main_box{
    -webkit-backdrop-filter: blur(151.5px);
    backdrop-filter: blur(151.5px);
    background-color: #ffffff0d;
    border: 1px solid #85859e;
    border-radius: 20px;
    padding: 3rem;
}
.plan .standard .name{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.plan .standard .name h3{
    font-size: 2.5rem;
    color: var(--color2);
}
.plan .standard p{
    color: #aeb9e1;
    margin: 2rem 0;
    font-size: 1.3rem;
}
.plan .standard .name .rc_tag{
    background-color: var(--color6);
    color: #000;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 50px;
}
.plan .standard .price_tag{
    font-size: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #60628380;
    padding-bottom: 2rem;
}
.plan .standard .price_tag span{
    color: #aeb9e1;
    font-size: 1.5rem;
}
.standard_list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin: 2rem 0;
}
.standard_list li{
    margin-bottom: 1.5rem;
    color: var(--color1);
    background: url('/images/exam/li_star1.svg') left 2px no-repeat;
    padding-left: 3rem;
    color: #aeb9e1;
    font-size: 1.3rem;
}
.standard_list.inside li{
    background: url('/images/exam/li_star.svg') left 2px no-repeat;
    color: var(--color3);
}
.plan .box{
    border: #ccc solid 1px;
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: #fff;
}
.standard.inside p{
    color: #535e82;
}
.standard.inside .price_tag{
    color: var(--color3);
}


.gradient{
    background-image: linear-gradient(90deg,#ffffff,rgba(255, 255, 255, 0.1));
    width: 10%;
    position: absolute;
    inset: 0% auto 0% 0%;
    z-index: 1;
}
.testiSwiper .swiper-wrapper{
  -webkit-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
  padding: 2rem 0 4rem;
}
.testi{
    /* border: #ccc solid 1px; */
    /* border-radius: 1rem; */
    /* padding: 3rem 3rem; */
    padding: 2.4285714286rem 2.5714285714rem;
    background: #fefefe;
    border-radius: 1.1428571429rem;
    box-shadow: 0 0 11.538px 0 rgba(0, 0, 0, .04), 0 38.46px 30.768px -23.076px rgba(95, 92, 121, .22);
}
.testi .info{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.testi .info .user{
    width: 7rem;
}
.testi .info .name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.testi .info .name h3{
    font-size: 1.8rem;
}
.testi .info .name h3 span{
    color: var(--color1);
    font-weight: 400;
    font-size: 1.5rem;
}
.testi .content{
    padding-top: 3rem;
}
.testi .content p:last-child{
    margin-bottom: 0px;
}
.new-container{
     padding-left: calc((100vw - 1050px) / 2); /* 1320px = .container max width at xl */
  padding-right: 0;
}

.faq{
   background: linear-gradient(360deg, #faf5ff, #fff3f3 77.67%, #fefefe) no-repeat bottom;
}
/* Remove focus outline & box shadow */
.accordion-button:focus {
  box-shadow: none;
  outline: none;
}



/* Always keep transparent background and border */
.accordion-button {
  background-color: transparent;
  border: none;
  padding-left: 0;       /* optional: adjust padding */
  padding-right: 0;
}

/* Remove border from accordion item itself */
.accordion-item {
  border: none;
  border-bottom: var(--color6) solid 1px;
  background-color: inherit;
}
.accordion-item:last-child{
    border-bottom: 0px;
}
.accordion-item .accordion-button{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2rem 3rem;
    color: var(--color3);
    background-color: #fff;
}
.accordion-button::after{
    width: 2.5rem;
    height: 2.5rem;
    background-size: 2.5rem;
}
/* Remove the default collapse border */
.accordion-body {
  border-top: none;
  padding-left: 3rem;       /* optional */
  padding-right: 3rem;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  color:var(--color1);
  background-color: #fff;
}

/* Optional: remove hover background */
.accordion-button:hover {
  /* background-color: #f7f7f7; */
  color: var(--color2);
}
/* Remove the default background color when expanded */
.accordion-button:not(.collapsed) {
  color: var(--color2);       /* keep your normal text color */
  box-shadow: none;
}
.accordion-item:first-of-type > .accordion-header .accordion-button{
    border-top-left-radius:2rem;
    border-top-right-radius: 2rem
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
border-bottom-left-radius:2rem;
    border-bottom-right-radius: 2rem
}
